BasedOnStyle: WebKit

ColumnLimit: 80
PointerAlignment: Right
AlignEscapedNewlines: DontAlign
BreakBeforeBraces: Attach

UseTab: Always
IndentWidth: 4
TabWidth: 4

ForEachMacros:
  - list_for_each
  - vec_for_each
  - rb_for_each
  - list_for_each_2
  - list_for_each_2_safe
