
# filetypes
*.iso
*.d
*.o
*.a
*.kernel
*.img
*.bak

# build folders
isodir
sysroot
build

# targets and debug
ngk
libc.a
initfs
dump.pcap

exp/malloc
exp/ringbuf
user/init
user/test
user/initfs
user/echo
user/segfault
user/bf
user/net
user/sh
