
# filetypes
*.iso
*.d
*.o
*.a

# build folders
/isodir/
/sysroot/
/buildX86_64/
/buildI686/
/build/
test_runner
/test/

# targets and debug
/dump.pcap
/last_output

# targets in exp/
/exp/*
!/exp/*.[ch]

