
# filetypes
*.iso
*.d
*.o

# build folders
/isodir/
/sysroot/
/buildX86_64/
/buildI686/
/build/
test_runner

# targets and debug
/kernel/ngk
/user/libc/libc.a
/user/initfs
/dump.pcap
/last_output

# targets in exp/
/exp/*
!/exp/*.[ch]

