[package]
name = "hello_rust_mod"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]
path = "src/lib.rs"

[dependencies]
nightingale_kernel = { path = "../common" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
