
KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/start.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/ports.o \
$(ARCHDIR)/afterboot_init.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/serial.o \

#FINISH
