name: Build nightingale

on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git make cmake ninja-build ruby xorriso mtools qemu-system-x86 wget lld
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
      - name: build
        env:
          CC: clang-21
          ASM: clang-21
        run: |
          cmake -Bbuild -GNinja -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=toolchain/CMake/CMakeToolchain.txt
          cmake --build build
      - name: Upload ISO
        uses: actions/upload-artifact@v4
        with:
          name: ngos.iso
          path: ngos.iso
      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ngos.iso
